* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {

  padding: 32px 64px;
  font-size: 14px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 32px;
}

.form-group {
  width: 30%;
}

.form-btn {
  width: 30%;
  display: flex;
  align-items: flex-end;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.form-input {
  font-family: inherit;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #000;
  display: block;
  width: 100%;
}

.btn-submit {
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #000;
  width: 100%;
}

.btn-submit:hover {
  background-color: #eee;
  cursor: pointer;
}

.watches {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.watch {
  width: 125px;
  margin-right: 48px;
}

.watch-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.close {
  padding: 1px 6px;
  border: 1px solid #000;
  border-radius: 12px;
}

.close:hover {
  color: #f00;
  border-color: #f00;
  cursor: pointer;
}

.city-name {
  font-size: 16px;
}

.time {
  font-size: 24px;
  font-weight: 700;
}